

<!-- <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <% @posts.each do |post| %>
            <div class="post-preview">
                <a href="<%= post_path(:id => post.id)%>">
                    <h2 class="post-title">
                      <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                      <%= post.summary %>
                    </h3>
                </a> -->
                <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p> -->
            <!-- </div>
            <hr>
            <% end %>



        </div>
    </div>
</div>

<hr> -->


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <h2>FOUNDERS OF THE CANIN-ERICA</h2>
              <p><img src="images/Scoobydoo.jpg"/>Scooby Doo on Thursday July 16th</p>

               <p>Puppy kitty ipsum dolor sit good dog lazy cat pet gate twine dinnertime string smooshy crate heel vitamins chirp. Aquatic run throw licks cockatiel bedding wag tail vaccine string behavior. Pet Gate slobber Spike mouse groom park Snowball tongue food good boy running parrot treats nap finch tooth lazy cat. Stripes slobbery birds window small animals maine coon cat vaccine yawn tabby pet supplies teeth lazy cat groom bark vitamins. Tail right paw bed bark tooth feathers house train. Bird left paw cage lick Fido leash collar mouse gimme five tongue. Litter food maine coon cat wet nose dog house crate scratcher small animals nest fetch bed string water dog. Bird Seed lazy dog wag tail yawn play dead groom maine coon cat furry ferret treats. Play Dead feeder pet supplies purr slobbery fur meow tongue heel walk.</p>

               <p>Fluffy fur biscuit food dragging collar run window stay throw Buddy. Nest throw polydactyl dog house grooming wag tail kitty. Pet Gate furry cage walk paws tabby. Litter feeder toy chow kisses house train behavior barky meow lol catz parakeet polydactyl lick fluffy. Gimme Five twine hamster vaccine dog house vaccine leash collar fetch Buddy yawn slobbery pet gate meow shake biscuit stick kibble. Crate kisses warm vaccination canary head chew food. Bark roll over crate groom furry ferret maine coon cat aquatic barky right paw play dead dog stripes tuxedo kibble canary pet gate play dead wagging.</p>

              <h4>J.D. BARK-A-FELLA</h4>

              <p>Bedding speak stripes bed kitten wagging Buddy furry vaccine bird   slobber dinnertime aquatic. Scratcher aquatic chew slobber puppy biscuit small animals puppy tongue Fido ID tag critters speak lick ferret wet nose meow leash sit bird food. Behavior ferret pet gate feeder head warm water kibble field left paw. Nest roll over Tigger birds foot food chirp <a href="http://dictionary.reference.com/browse/lazy">lazy</a> dog foot litter box paws tail left paw bed running bird lick ferret run. Wet Nose treats gimme five roll over treats vitamins run vaccination. Polydactyl foot park cockatiel fluffy Buddy Spike grooming collar kitten vitamins sit water dog Fido good boy meow grooming heel sit vaccination. Cockatiel chirp walk run fast litter vaccination carrier Fido lazy dog tail lazy cat right paw string polydactyl feeder drool bed meow dog house.</p>

              <p>Stripes yawn pet food Buddy vaccination food scratcher lol catz fur run fast foot stick Fido throw field kibble meow throw bedding crate. Cat gimme five twine groom whiskers wet nose dog house stick dragging warm groom smooshy. Lazy Dog litter slobbery whiskers tail pet supplies drool harness parakeet lazy dog feeder litter fur. Catch behavior toy stay aquarium barky Rover lazy cat furry maine coon cat ball swimming kisses Snowball twine carrier scratch feathers run. Dinnertime dog Buddy chew play water pet gate kisses pet supplies stick paws gimme five lazy cat Buddy hamster. Dog House litter box chow commands toys lazy dog food kisses throw barky fish cage maine coon cat meow left paw window paws cat. Play Dead maine coon cat commands nap scratcher nest.</p>

         </div>


        </div>
    </div>
</div>
